<div class="box-left">
    <h1 class="petition-description">Make Berlin more cycle friendly</h1>
    <br>
<h3 class="petition-description"> Berlin has a lack of quality cycle lanes....</h3>
<br>
<h3 class="petition-description"> Lets change it !!!</h3>
{{!-- <img src="bicycle.png" width="100%" height="50%" alt=""> --}}
</div>