<div class="box-left">
    <h1 class="petition-description">Make Freddos 10p again</h1>
    {{!-- <h1 class="petition-description">Make Berlin more cycle friendly</h1> --}}
    <br>
<h3 class="petition-description"> The price of Freddo's has risen 5 times faster than inflation...</h3>
{{!-- <h3 class="petition-description"> Berlin has a lack of quality cycle lanes....</h3> --}}
<br>
<h3 class="petition-description">Cadburys must be stopped!!!</h3>
<img class="freddo" src="/freddo.png" width="40%" height="60%" alt="photo of freddo bar">
</div>