<div class="navilinks">
<a class="navilink-signers" href="/profile/edit">Edit Profile</a>
<a class="navilink-signers" href="/signers">Supporters</a>
<a class="navilink-logout" href="/logout"> Log out</a>
</div>