{{>sign-in}}
<h3 class="title-head">Please Login</h3>
<h4 class="title-head">To Access the Petition</h4>


<form method="POST">
<div>
    <label class="user-email-label" for="user-email-label">Email</label>
    <input id="user-email" type="email" name="email"  required>

    <label class="user-password-label" for="user-password-label">Password</label>
    <input id="user-password" type="password" name="password" required>
</div>

{{#if err}}
<h5>{{err}}</h5>
{{/if}}


    <input type="hidden" name="_csrf" value="{{csrfToken}}">

<div>
    <label for="button"></label>
    <button id="submit-button">Log In</button>
</div> 
</form>