{{>log-out}}
<h1>Thank You for the support</h1>
<h3> We hope this will help in the future implementation of cycle lanes throughout the city!!!</h3>
<img class="printed-signature" src={{signature}} alt="Users Signature">
<a class="more-supporters" href="/signers">See the other supporters</a>
<a class="more-supporters" href="/profile/edit">Edit your profile</a>

<div class="delete-signature-wrapper">
<form method="POST">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <button href="/signature/delete" class="delete-signature">Delete Signature</button>
</form>
</div>